#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

NORMALBLUE_INI TEXTFILE MOVEABLE PURE  "SkinFramework\\Styles\\Office2010\\res\\NormalBlue.ini"
BLUE_FRAMECAPTION_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\FrameCaption.png"
BLUE_FRAMECAPTIONSIZING_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\FrameCaptionSizing.png"
BLUE_SMALLFRAMECAPTION_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SmallFrameCaption.png"
BLUE_FRAMELEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\FrameLeft.png"
BLUE_FRAMERIGHT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\FrameRight.png"
BLUE_FRAMEBOTTOM_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\FrameBottom.png"
BLUE_CAPTIONCLOSEBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\CaptionCloseButton.png"
BLUE_CLOSEGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\CloseGlyph17.png"
BLUE_CAPTIONBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\CaptionButton.png"
BLUE_MAXIMIZEGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\MaximizeGlyph17.png"
BLUE_RESTOREGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\RestoreGlyph17.png"
BLUE_MINIMIZEGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\MinimizeGlyph17.png"
BLUE_HELPGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\HelpGlyph17.png"
BLUE_MDIGLYPHMINIMIZE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\MDIGlyphMinimize.png"
BLUE_MDICAPTIONBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\MDICaptionButton.png"
BLUE_MDIGLYPHRESTORE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\MDIGlyphRestore.png"
BLUE_MDIGLYPHCLOSE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\MDIGlyphClose.png"
BLUE_BUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\Button.png"
BLUE_CHECKBOX13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\CheckBox13.png"
BLUE_RADIOBUTTON13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\RadioButton13.png"
BLUE_GROUPBOX_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\GroupBox.png"
BLUE_TOOLBARBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ToolbarBackground.png"
BLUE_TOOLBARGRIPPER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ToolbarGripper.png"
BLUE_TOOLBARGRIPPERVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ToolbarGripperVert.png"
BLUE_TOOLBARBUTTONS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ToolbarButtons.png"
BLUE_SEPARATOR_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\Separator.png"
BLUE_SEPARATORVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SeparatorVert.png"
BLUE_TOOLBARBUTTONSSPLIT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ToolbarButtonsSplit.png"
BLUE_TOOLBARBUTTONSSPLITDROPDOWN_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ToolbarButtonsSplitDropdown.png"
BLUE_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ToolbarButtonsSplitDropdownGlyph.png"
BLUE_STATUSBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\StatusBackground.png"
BLUE_STATUSPANE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\StatusPane.png"
BLUE_RESIZEGRIP2_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ResizeGrip2.png"
BLUE_LISTVIEWHEADERBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ListviewHeaderBackground.png"
BLUE_LISTVIEWHEADER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ListViewHeader.png"
BLUE_PROGRESSTRACK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ProgressTrack.png"
BLUE_PROGRESSCHUNK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ProgressChunk.png"
BLUE_PROGRESSTRACKVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ProgressTrackVert.png"
BLUE_PROGRESSCHUNKVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ProgressChunkVert.png"
BLUE_TABPANEEDGE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TabPaneEdge.png"
BLUE_TABITEMTOP_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TabItemTop.png"
BLUE_TABITEMTOPLEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TabItemTopLeft.png"
BLUE_TABBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TabBackground.png"
BLUE_TRACKBARHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TrackbarHorizontal.png"
BLUE_TRACKBARUP13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TrackBarUp13.png"
BLUE_TRACKBARDOWN13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TrackBarDown13.png"
BLUE_TRACKBARVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TrackbarVertical.png"
BLUE_TRACKBARLEFT13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TrackBarLeft13.png"
BLUE_TRACKBARRIGHT13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TrackbarRight13.png"
BLUE_SLIDERTRACK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\sliderTrack.png"
BLUE_TREEEXPANDCOLLAPSE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\TreeExpandCollapse.png"
BLUE_SPINBUTTONBACKGROUNDUP_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SpinButtonBackgroundUp.png"
BLUE_SPINUPGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SpinUpGlyph.png"
BLUE_SPINBUTTONBACKGROUNDDOWN_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SpinButtonBackgroundDown.png"
BLUE_SPINDOWNGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SpinDownGlyph.png"
BLUE_SPINBUTTONBACKGROUNDRIGHT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SpinButtonBackgroundRight.png"
BLUE_SPINRIGHTGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SpinRightGlyph.png"
BLUE_SPINBUTTONBACKGROUNDLEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SpinButtonBackgroundLeft.png"
BLUE_SPINLEFTGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\SpinLeftGlyph.png"
BLUE_SCROLLARROWS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ScrollArrows.png"
BLUE_SCROLLARROWGLYPHS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ScrollArrowGlyphs.png"
BLUE_SCROLLTHUMBHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ScrollThumbHorizontal.png"
BLUE_SCROLLTHUMBGRIPPERHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ScrollThumbGripperHorizontal.png"
BLUE_SCROLLTHUMBVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ScrollThumbVertical.png"
BLUE_SCROLLTHUMBGRIPPERVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ScrollThumbGripperVertical.png"
BLUE_SCROLLSHAFTHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ScrollShaftHorizontal.png"
BLUE_SCROLLSHAFTVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ScrollShaftVertical.png"
BLUE_COMBOBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ComboButton.png"
BLUE_COMBOBUTTONGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\ComboButtonGlyph.png"
BLUE_POPUPBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupBackground.png"
BLUE_POPUPBORDERS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupBorders.png"
BLUE_POPUPGUTTER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupGutter.png"
BLUE_POPUPSEPARATOR_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupSeparator.png"
BLUE_POPUPITEM_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupItem.png"
BLUE_POPUPCHECK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupCheck.png"
BLUE_POPUPCHECKBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupCheckBackground.png"
BLUE_POPUPSUBMENU_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupSubmenu.png"
BLUE_POPUPSYSTEMCLOSE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupSystemClose.png"
BLUE_POPUPSYSTEMMAXIMIZE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupSystemMaximize.png"
BLUE_POPUPSYSTEMMINIMIZE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupSystemMinimize.png"
BLUE_POPUPSYSTEMRESTORE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Blue\\PopupSystemRestore.png"


NORMALSILVER_INI TEXTFILE MOVEABLE PURE  "SkinFramework\\Styles\\Office2010\\res\\NormalSilver.ini"
SILVER_FRAMECAPTION_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\FrameCaption.png"
SILVER_FRAMECAPTIONSIZING_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\FrameCaptionSizing.png"
SILVER_SMALLFRAMECAPTION_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SmallFrameCaption.png"
SILVER_FRAMELEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\FrameLeft.png"
SILVER_FRAMERIGHT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\FrameRight.png"
SILVER_FRAMEBOTTOM_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\FrameBottom.png"
SILVER_CAPTIONCLOSEBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\CaptionCloseButton.png"
SILVER_CLOSEGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\CloseGlyph17.png"
SILVER_CAPTIONBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\CaptionButton.png"
SILVER_MAXIMIZEGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\MaximizeGlyph17.png"
SILVER_RESTOREGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\RestoreGlyph17.png"
SILVER_MINIMIZEGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\MinimizeGlyph17.png"
SILVER_HELPGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\HelpGlyph17.png"
SILVER_MDIGLYPHMINIMIZE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\MDIGlyphMinimize.png"
SILVER_MDICAPTIONBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\MDICaptionButton.png"
SILVER_MDIGLYPHRESTORE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\MDIGlyphRestore.png"
SILVER_MDIGLYPHCLOSE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\MDIGlyphClose.png"
SILVER_BUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\Button.png"
SILVER_CHECKBOX13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\CheckBox13.png"
SILVER_RADIOBUTTON13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\RadioButton13.png"
SILVER_GROUPBOX_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\GroupBox.png"
SILVER_TOOLBARBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ToolbarBackground.png"
SILVER_TOOLBARGRIPPER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ToolbarGripper.png"
SILVER_TOOLBARGRIPPERVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ToolbarGripperVert.png"
SILVER_TOOLBARBUTTONS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ToolbarButtons.png"
SILVER_SEPARATOR_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\Separator.png"
SILVER_SEPARATORVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SeparatorVert.png"
SILVER_TOOLBARBUTTONSSPLIT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ToolbarButtonsSplit.png"
SILVER_TOOLBARBUTTONSSPLITDROPDOWN_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ToolbarButtonsSplitDropdown.png"
SILVER_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ToolbarButtonsSplitDropdownGlyph.png"
SILVER_STATUSBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\StatusBackground.png"
SILVER_STATUSPANE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\StatusPane.png"
SILVER_RESIZEGRIP2_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ResizeGrip2.png"
SILVER_LISTVIEWHEADERBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ListviewHeaderBackground.png"
SILVER_LISTVIEWHEADER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ListViewHeader.png"
SILVER_PROGRESSTRACK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ProgressTrack.png"
SILVER_PROGRESSCHUNK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ProgressChunk.png"
SILVER_PROGRESSTRACKVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ProgressTrackVert.png"
SILVER_PROGRESSCHUNKVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ProgressChunkVert.png"
SILVER_TABPANEEDGE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TabPaneEdge.png"
SILVER_TABITEMTOP_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TabItemTop.png"
SILVER_TABITEMTOPLEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TabItemTopLeft.png"
SILVER_TABBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TabBackground.png"
SILVER_TRACKBARHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TrackbarHorizontal.png"
SILVER_TRACKBARUP13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TrackBarUp13.png"
SILVER_TRACKBARDOWN13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TrackBarDown13.png"
SILVER_TRACKBARVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TrackbarVertical.png"
SILVER_TRACKBARLEFT13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TrackBarLeft13.png"
SILVER_TRACKBARRIGHT13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TrackbarRight13.png"
SILVER_SLIDERTRACK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\sliderTrack.png"
SILVER_TREEEXPANDCOLLAPSE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\TreeExpandCollapse.png"
SILVER_SPINBUTTONBACKGROUNDUP_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SpinButtonBackgroundUp.png"
SILVER_SPINUPGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SpinUpGlyph.png"
SILVER_SPINBUTTONBACKGROUNDDOWN_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SpinButtonBackgroundDown.png"
SILVER_SPINDOWNGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SpinDownGlyph.png"
SILVER_SPINBUTTONBACKGROUNDRIGHT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SpinButtonBackgroundRight.png"
SILVER_SPINRIGHTGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SpinRightGlyph.png"
SILVER_SPINBUTTONBACKGROUNDLEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SpinButtonBackgroundLeft.png"
SILVER_SPINLEFTGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\SpinLeftGlyph.png"
SILVER_SCROLLARROWS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ScrollArrows.png"
SILVER_SCROLLARROWGLYPHS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ScrollArrowGlyphs.png"
SILVER_SCROLLTHUMBHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ScrollThumbHorizontal.png"
SILVER_SCROLLTHUMBGRIPPERHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ScrollThumbGripperHorizontal.png"
SILVER_SCROLLTHUMBVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ScrollThumbVertical.png"
SILVER_SCROLLTHUMBGRIPPERVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ScrollThumbGripperVertical.png"
SILVER_SCROLLSHAFTHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ScrollShaftHorizontal.png"
SILVER_SCROLLSHAFTVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ScrollShaftVertical.png"
SILVER_COMBOBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ComboButton.png"
SILVER_COMBOBUTTONGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\ComboButtonGlyph.png"
SILVER_POPUPBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupBackground.png"
SILVER_POPUPBORDERS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupBorders.png"
SILVER_POPUPGUTTER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupGutter.png"
SILVER_POPUPSEPARATOR_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupSeparator.png"
SILVER_POPUPITEM_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupItem.png"
SILVER_POPUPCHECK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupCheck.png"
SILVER_POPUPCHECKBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupCheckBackground.png"
SILVER_POPUPSUBMENU_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupSubmenu.png"
SILVER_POPUPSYSTEMCLOSE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupSystemClose.png"
SILVER_POPUPSYSTEMMAXIMIZE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupSystemMaximize.png"
SILVER_POPUPSYSTEMMINIMIZE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupSystemMinimize.png"
SILVER_POPUPSYSTEMRESTORE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Silver\\PopupSystemRestore.png"


NORMALBLACK_INI TEXTFILE MOVEABLE PURE  "SkinFramework\\Styles\\Office2010\\res\\NormalBlack.ini"
BLACK_FRAMECAPTION_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\FrameCaption.png"
BLACK_FRAMECAPTIONSIZING_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\FrameCaptionSizing.png"
BLACK_SMALLFRAMECAPTION_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SmallFrameCaption.png"
BLACK_FRAMELEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\FrameLeft.png"
BLACK_FRAMERIGHT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\FrameRight.png"
BLACK_FRAMEBOTTOM_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\FrameBottom.png"
BLACK_CAPTIONCLOSEBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\CaptionCloseButton.png"
BLACK_CLOSEGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\CloseGlyph17.png"
BLACK_CAPTIONBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\CaptionButton.png"
BLACK_MAXIMIZEGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\MaximizeGlyph17.png"
BLACK_RESTOREGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\RestoreGlyph17.png"
BLACK_MINIMIZEGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\MinimizeGlyph17.png"
BLACK_HELPGLYPH17_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\HelpGlyph17.png"
BLACK_BUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\Button.png"
BLACK_CHECKBOX13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\CheckBox13.png"
BLACK_RADIOBUTTON13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\RadioButton13.png"
BLACK_GROUPBOX_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\GroupBox.png"
BLACK_TOOLBARBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ToolbarBackground.png"
BLACK_TOOLBARGRIPPER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ToolbarGripper.png"
BLACK_TOOLBARGRIPPERVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ToolbarGripperVert.png"
BLACK_TOOLBARBUTTONS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ToolbarButtons.png"
BLACK_SEPARATOR_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\Separator.png"
BLACK_SEPARATORVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SeparatorVert.png"
BLACK_TOOLBARBUTTONSSPLIT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ToolbarButtonsSplit.png"
BLACK_TOOLBARBUTTONSSPLITDROPDOWN_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ToolbarButtonsSplitDropdown.png"
BLACK_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ToolbarButtonsSplitDropdownGlyph.png"
BLACK_STATUSBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\StatusBackground.png"
BLACK_STATUSPANE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\StatusPane.png"
BLACK_RESIZEGRIP2_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ResizeGrip2.png"
BLACK_LISTVIEWHEADERBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ListviewHeaderBackground.png"
BLACK_LISTVIEWHEADER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ListViewHeader.png"
BLACK_PROGRESSTRACK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ProgressTrack.png"
BLACK_PROGRESSCHUNK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ProgressChunk.png"
BLACK_PROGRESSTRACKVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ProgressTrackVert.png"
BLACK_PROGRESSCHUNKVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ProgressChunkVert.png"
BLACK_TABPANEEDGE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TabPaneEdge.png"
BLACK_TABITEMTOP_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TabItemTop.png"
BLACK_TABITEMTOPLEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TabItemTopLeft.png"
BLACK_TABBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TabBackground.png"
BLACK_TRACKBARHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TrackbarHorizontal.png"
BLACK_TRACKBARUP13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TrackBarUp13.png"
BLACK_TRACKBARDOWN13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TrackBarDown13.png"
BLACK_TRACKBARVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TrackbarVertical.png"
BLACK_TRACKBARLEFT13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TrackBarLeft13.png"
BLACK_TRACKBARRIGHT13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TrackbarRight13.png"
BLACK_SLIDERTRACK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\sliderTrack.png"
BLACK_TREEEXPANDCOLLAPSE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\TreeExpandCollapse.png"
BLACK_SPINBUTTONBACKGROUNDUP_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SpinButtonBackgroundUp.png"
BLACK_SPINUPGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SpinUpGlyph.png"
BLACK_SPINBUTTONBACKGROUNDDOWN_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SpinButtonBackgroundDown.png"
BLACK_SPINDOWNGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SpinDownGlyph.png"
BLACK_SPINBUTTONBACKGROUNDRIGHT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SpinButtonBackgroundRight.png"
BLACK_SPINRIGHTGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SpinRightGlyph.png"
BLACK_SPINBUTTONBACKGROUNDLEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SpinButtonBackgroundLeft.png"
BLACK_SPINLEFTGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\SpinLeftGlyph.png"
BLACK_SCROLLARROWS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ScrollArrows.png"
BLACK_SCROLLARROWGLYPHS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ScrollArrowGlyphs.png"
BLACK_SCROLLTHUMBHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ScrollThumbHorizontal.png"
BLACK_SCROLLTHUMBGRIPPERHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ScrollThumbGripperHorizontal.png"
BLACK_SCROLLTHUMBVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ScrollThumbVertical.png"
BLACK_SCROLLTHUMBGRIPPERVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ScrollThumbGripperVertical.png"
BLACK_SCROLLSHAFTHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ScrollShaftHorizontal.png"
BLACK_SCROLLSHAFTVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ScrollShaftVertical.png"
BLACK_COMBOBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ComboButton.png"
BLACK_COMBOBUTTONGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\ComboButtonGlyph.png"
BLACK_POPUPBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupBackground.png"
BLACK_POPUPBORDERS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupBorders.png"
BLACK_POPUPGUTTER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupGutter.png"
BLACK_POPUPSEPARATOR_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupSeparator.png"
BLACK_POPUPITEM_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupItem.png"
BLACK_POPUPCHECK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupCheck.png"
BLACK_POPUPCHECKBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupCheckBackground.png"
BLACK_POPUPSUBMENU_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupSubmenu.png"
BLACK_POPUPSYSTEMCLOSE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupSystemClose.png"
BLACK_POPUPSYSTEMMAXIMIZE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupSystemMaximize.png"
BLACK_POPUPSYSTEMMINIMIZE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupSystemMinimize.png"
BLACK_POPUPSYSTEMRESTORE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\Office2010\\res\\Black\\PopupSystemRestore.png"


THEMES_INI TEXTFILE MOVEABLE PURE  "SkinFramework\\Styles\\Office2010\\res\\Themes.ini"


#ifdef _XTP_INCLUDE_VERSION
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 16,4,0,0
 PRODUCTVERSION 16,4,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "October 8, 2014\0"
            VALUE "CompanyName", "Codejock Software\0"
            VALUE "FileDescription", "Office 2010 Visual Style\0"
            VALUE "FileVersion", "16, 4, 0, 0\0"
            VALUE "InternalName", "Office2010.cjstyle\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "Office2010.cjstyle\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Office 2010 Visual Style for Xtreme Skin Framework\0"
            VALUE "ProductVersion", "16, 4, 0, 0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END



STRINGTABLE DISCARDABLE
BEGIN
    5000                    "Office 2010 Style"
END

#endif

#endif    // English (U.S.) resources

