// SyntaxEdit resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2013 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "SyntaxEdit/Resource.h"
#include "SyntaxEdit/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
#pragma code_page(1250)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_EDIT_PAGEEDITOR DIALOGEX DISCARDABLE  0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Szerkesztõ"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Ablak beállítások",IDC_STATIC,7,7,246,76
    CONTROL         "&Függõleges görgetõsáv",XTP_IDC_EDIT_CHK_VERT_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,21,105,10
    CONTROL         "&Vízszintes görgetõsáv",XTP_IDC_EDIT_CHK_HORZ_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,32,105,10
    CONTROL         "&Sor száma",XTP_IDC_EDIT_CHK_LINE_NUMBERS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,43,105,10
    CONTROL         "Kiválasztási &margó",XTP_IDC_EDIT_CHK_SELMARGIN,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,54,105,10
    CONTROL         "C&ollapsible Nodes",XTP_IDC_EDIT_CHK_COLLAPSIBLE_NODES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,65,105,10
    CONTROL         "&Auto indentation",XTP_IDC_EDIT_CHK_AUTO_INDENT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,130,20,115,10
    CONTROL         "Virtual &space",XTP_IDC_EDIT_CHK_VIRTUAL_SPACE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,130,35,115,10
    CONTROL         "Synta&x Colorization",XTP_IDC_EDIT_CHK_SYNTAX_COLOR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,50,115,10
    GROUPBOX        "Panelek",IDC_STATIC,7,88,162,43
    LTEXT           "&Panel méret:",IDC_STATIC,15,103,30,8
    EDITTEXT        XTP_IDC_EDIT_TABS_SIZE,50,100,46,14,ES_AUTOHSCROLL
    CONTROL         "Szóközök &beszúrása",XTP_IDC_EDIT_RAD_TABS_SPACES,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,102,102,58,10
    CONTROL         "&Panelek megtartása",XTP_IDC_EDIT_RAD_TABS_TAB,"Button",
                    BS_AUTORADIOBUTTON,102,113,51,10
    GROUPBOX        "Overwrite Caret",XTP_IDC_EDIT_GBOX_CARET,175,88,78,43,
                    WS_GROUP
    CONTROL         "V&ékony",XTP_IDC_EDIT_RAD_CARET_THIN,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,181,102,31,10
    CONTROL         "V&astag",XTP_IDC_EDIT_RAD_CARET_THICK,"Button",
                    BS_AUTORADIOBUTTON,181,113,36,10
    GROUPBOX        "Mentési beállítások",IDC_STATIC,7,135,246,37
    CONTROL         "A &külsõleg módosított fájlok automatikus újratöltése",
                    XTP_IDC_EDIT_CHK_AUTO_RELOAD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,15,151,155,10
END
XTP_IDD_EDIT_PAGEFONT DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Szerkesztõ betûtípus"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Betûtípus:",XTP_IDC_EDIT_TXT_FONTNAMES,7,7,40,9
    COMBOBOX        XTP_IDC_EDIT_COMB_NAMES,7,18,119,55,CBS_SIMPLE | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_DISABLENOSCROLL | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Bet&ûstílus:",XTP_IDC_EDIT_TXT_FONTSTYLES,134,7,45,9
    COMBOBOX        XTP_IDC_EDIT_COMB_STYLES,134,18,75,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Méret:",XTP_IDC_EDIT_TXT_FONTSIZES,217,7,30,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SIZES,217,18,36,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Normal szöveg:",IDC_STATIC,7,68,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,7,78,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,113,78,13,12
    LTEXT           "&Normál háttér:",IDC_STATIC,7,95,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,7,105,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,113,105,13,12
    LTEXT           "&Kiválasztott szöveg:",IDC_STATIC,7,122,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,7,132,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,113,132,13,12
    LTEXT           "&SKiválasztott háttér:",IDC_STATIC,7,149,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,7,159,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,113,159,13,12
    LTEXT           "Sc&ript:",XTP_IDC_EDIT_TXT_FONTSCRIPT,135,69,100,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SCRIPT,134,78,119,115,CBS_DROPDOWNLIST | 
                    CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Sample Normal / Selected:",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "AaBbCc",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "XxYyZz",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_PAGECOLOR DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Syntax Color"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Fájlt&ípus:",XTP_IDC_EDIT_TXT_SCHEMANAMES,7,7,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMANAMES,7,17,123,64,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Attribútumok:",XTP_IDC_EDIT_TXT_SCHEMAPROP,7,85,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMAPROP,7,95,123,77,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Normal szöveg:",IDC_STATIC,135,7,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,135,17,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,238,17,13,12
    LTEXT           "&Normál háttér:",IDC_STATIC,135,33,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,135,43,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,238,43,13,12
    LTEXT           "&Kiválasztott szöveg:",IDC_STATIC,135,59,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,135,69,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,238,69,13,12
    LTEXT           "&SKiválasztott háttér:",IDC_STATIC,135,85,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,135,95,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,238,95,13,12
    CONTROL         "&Félkövér",XTP_IDC_EDIT_CHK_BOLD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,135,114,30,10
    CONTROL         "&Dõlt",XTP_IDC_EDIT_CHK_ITALIC,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,170,114,31,10
    CONTROL         "&Aláhúzott",XTP_IDC_EDIT_CHK_UNDERLINE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,206,114,46,10
    GROUPBOX        "Sample Normal / Selected:",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "AaBbCc",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "XxYyZz",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_SEARCH_FIND DIALOGEX DISCARDABLE  0, 0, 271, 82
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Keresés"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Keresett szöveg:",IDC_STATIC,7,9,43,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,51,6,154,153,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Beállítások",IDC_STATIC,7,30,113,45 
    CONTROL         "Csak teljes szavak egyezése",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,43,100,10
    CONTROL         "Kis- és nagybetû különbözik",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,58,100,10
    GROUPBOX        "Irány",IDC_STATIC,126,30,80,45
    CONTROL         "Keresés felfelé",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON,134,43,65,10
    CONTROL         "Keresés lefelé",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON,134,58,65,10
    PUSHBUTTON      "&Következõ",XTP_IDC_EDIT_BTN_FIND_NEXT,214,7,50,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Bezárás",IDCANCEL,214,26,50,14, WS_TABSTOP
END

XTP_IDD_EDIT_SEARCH_REPLACE DIALOGEX DISCARDABLE  0, 0, 271, 86
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Keresés és csere"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Keresett szöveg:",IDC_STATIC,7,9,50,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,61,6,143,154,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Csere erre:",IDC_STATIC,7,25,50,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_REPLACE,61,23,143,135,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Beállítások",IDC_STATIC,7,38,113,41
    CONTROL         "Csak teljes szavak egyezése",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,51,100,10
    CONTROL         "Kis- és nagybetû különbözik",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,64,100,10
    GROUPBOX        "Irány",IDC_STATIC,126,38,80,41
    CONTROL         "Keresés felfelé",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP,134,51,65,10
    CONTROL         "Keresés lefelé",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON,134,64,65,10
    PUSHBUTTON      "&Következõ",XTP_IDC_EDIT_BTN_FIND_NEXT,214,7,50,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "&Csere",XTP_IDC_EDIT_BTN_REPLACE,214,23,50,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "&Összes cseréje",XTP_IDC_EDIT_BTN_REPLACE_ALL,214,39,50,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Bezárás",IDCANCEL,214,65,50,14, WS_TABSTOP
END

XTP_IDD_EDIT_GOTOLINE DIALOGEX DISCARDABLE  0, 0, 165, 55
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sorra ugrás"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Sorszám:",XTP_IDC_EDIT_TXT_LINENO,5,5,155,8
    EDITTEXT        XTP_IDC_EDIT_LINENO,5,17,155,14,ES_AUTOHSCROLL | 
                    ES_NUMBER
    PUSHBUTTON      "&Ugrás",XTP_IDC_EDIT_BTN_GOTO,56,36,50,14
    PUSHBUTTON      "Mégsem",IDCANCEL,110,36,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNDEFINED     "Nem meghatározott parancs"
    XTP_IDS_EDIT_MULTIPLE      "Több mûvelet"
    XTP_IDS_EDIT_DELETE        "Törlés:"
    XTP_IDS_EDIT_INSERT        "Beszúrás:"
    XTP_IDS_EDIT_TYPING        "Szöveg beírás"
    XTP_IDS_EDIT_PASTE         "Beillesztés"
    XTP_IDS_EDIT_MOVE          "Áthelyezés"
    XTP_IDS_EDIT_COPY          "Másolás"
    XTP_IDS_EDIT_INDENTATION   "Bekezdés"
    XTP_IDS_EDIT_INDENT_DECREASE "Decrease Indent"
    XTP_IDS_EDIT_FORMAT        "Formátum"
    XTP_IDS_EDIT_TABIFY        "Tabify"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNTABIFY      "Untabify"
    XTP_IDS_EDIT_REPLACE_ALL   "Mindet cserél"
    XTP_IDS_EDIT_CASE          "Change selection case"
    XTP_IDS_EDIT_DELETE_TEXT_BLOCK "Szövegblokk törlése"
    XTP_IDS_EDIT_MOVE_HERE     "&Áthelyezés ide"
    XTP_IDS_EDIT_COPY_HERE     "&Másolás ide"
    XTP_IDS_EDIT_CANCEL        "&Mégsem"
    XTP_IDS_EDIT_MSG_WARN_RELOAD 
                            "A(z) '%s' fájlt külsõ forrásból módosították!\nKívánja újra betölteni?"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_CUSTOM        "Egyedi"
    XTP_IDS_EDIT_REGULAR       "Normál"
    XTP_IDS_EDIT_BOLD          "Félkövér"
    XTP_IDS_EDIT_ITALIC        "Dõlt"
    XTP_IDS_EDIT_BOLDITALIC    "Félkövér dõlt"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDD_EDIT_OPTIONS       "Beállítások módosítása"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_MSG_FREPLACED "A program %d egyezést talált és ezek lecserélésre kerültek!"
    XTP_IDS_EDIT_MSG_FSEARCH   "A keresés befejezõdött!"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_LINENO        "&Sorszám (1 - %d):"
    XTP_IDS_EDIT_OPENSCHEMACMD "Séma fájl megnyitása"
    XTP_IDS_EDIT_OPENSCHEMAMSG "Kívánja bezárni a ""Beállítások párbeszédablakot"", és megnyitni a(z) ""%s%s"" sémafájlt a szerkesztõablakban?"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
