// build
ARCHS = i386 x86_64
VALID_ARCHS = $(ARCHS)
ONLY_ACTIVE_ARCH = YES
SDKROOT = // current macos

CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/mac-x86+x64-Debug

MACOSX_DEPLOYMENT_TARGET[arch=i386] = 10.4 // tiger
MACOSX_DEPLOYMENT_TARGET[arch=x86_64] = 10.5 // leopard

PRODUCT_NAME = $(TARGET_NAME)

// search paths
ALWAYS_SEARCH_USER_PATHS = NO // don't set this to YES
HEADER_SEARCH_PATHS = ../../include
LIBRARY_SEARCH_PATHS =

// debugging
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_DEBUGGING_SYMBOLS = full

// compiler
GCC_VERSION =
GCC_C_LANGUAGE_STANDARD = c99
GCC_ENABLE_OBJC_EXCEPTIONS = NO
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_ONE_BYTE_BOOL = NO // investigate this one

// preprocessor
GCC_PREPROCESSOR_DEFINITIONS = VO_NO_DEPRECATED_TYPES VO_MSE_FUNC_THROUGH_POINTERS

// warnings
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

// optimizations
GCC_OPTIMIZATION_LEVEL = 0
GCC_FAST_MATH = NO

// link
DEAD_CODE_STRIPPING = YES
LINK_WITH_STANDARD_LIBRARIES = YES
PREBINDING = NO

// deployment
DEPLOYMENT_LOCATION = YES
DSTROOT = $(PROJECT_DIR)/..
INSTALL_PATH = /bin/mac-x86+x64-Debug
SKIP_INSTALL = NO