// Controls resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2012 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Controls/Resource.h"
#include "Controls/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) && !defined(_XTP_NO_STANDARDCONTROLS_RES)
#ifdef _WIN32
LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT
#pragma code_page(1251)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_TIPOFTHEDAY DIALOGEX 0, 0, 279, 127
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Идея на деня"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Затвори",IDOK,224,108,50,14
    CONTROL         "Покажи идея при стартиране",XTP_IDC_CHK_DAYTIP_SHOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,110,140,10
    PUSHBUTTON      "Следваща",XTP_IDC_BTN_DAYTIP_NEXT,170,108,50,14
    CONTROL         "",XTP_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT WS_VISIBLE,0,0,279,103
END

XTP_IDD_COLORCUSTOM DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Потребителски"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Цевтове",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,3,
                    15,119,86
    CONTROL         "",XTP_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    126,15,20,86
    LTEXT           "Нюанс:",XTP_IDC_TXT_HUE,7,108,28,8
    EDITTEXT        XTP_IDC_EDIT_HUE,37,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,61,105,
                    10,14
    LTEXT           "Наситен:",XTP_IDC_TXT_SAT,7,125,30,8
    EDITTEXT        XTP_IDC_EDIT_SAT,37,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,61,122,
                    10,14
    LTEXT           "Осветл:",XTP_IDC_TXT_LUM,7,140,30,8
    EDITTEXT        XTP_IDC_EDIT_LUM,37,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,61,137,
                    10,14
    LTEXT           "Червен:",XTP_IDC_TXT_RED,77,108,29,8
    EDITTEXT        XTP_IDC_EDIT_RED,107,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,131,105,
                    11,14
    LTEXT           "Зелен:",XTP_IDC_TXT_GREEN,77,125,23,8
    EDITTEXT        XTP_IDC_EDIT_GREEN,107,122,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,131,122,
                    11,14
    LTEXT           "Син:",XTP_IDC_TXT_BLUE,77,140,23,8
    EDITTEXT        XTP_IDC_EDIT_BLUE,107,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,131,137,
                    11,14
END

XTP_IDD_COLORSTANDARD DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Стандартни"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Цевтове:",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XTP_IDD_WINDOWLIST DIALOGEX DISCARDABLE  0, 0, 301, 164
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Подреждане на прозорците"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Избор на прозорец",IDC_STATIC,7,7,147,8
    LISTBOX         XTP_IDC_LBOX_WINDOWS,7,17,216,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "Активирай",XTP_IDC_BTN_ACTIVATE,233,7,62,14
    PUSHBUTTON      "Да",IDOK,233,24,62,14
    PUSHBUTTON      "Запис",XTP_IDC_BTN_SAVE,233,41,62,14
    PUSHBUTTON      "Затвори прозореца",XTP_IDC_BTN_CLOSEWINDOWS,233,58,62,14
    PUSHBUTTON      "Каскадно",XTP_IDC_BTN_CASCADE,233,75,62,14
    PUSHBUTTON      "Хоризонтално",XTP_IDC_BTN_TILEHORZ,233,92,62,14
    PUSHBUTTON      "Вертикално",XTP_IDC_BTN_TILEVERT,233,109,62,14
    PUSHBUTTON      "Минимизирай",XTP_IDC_BTN_MINIMIZE,233,126,62,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "Малки икони",                XTP_IDC_SMALLICON
        MENUITEM "Големи икони",                XTP_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "Върни",                       ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Премести в буфера",                        ID_EDIT_CUT
        MENUITEM "Копирай",                       ID_EDIT_COPY
        MENUITEM "Вмъкни",                      ID_EDIT_PASTE
        MENUITEM "Изтрий",                     ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "Маркирай всичко",                 ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "Сортирай възходящо",              XTP_IDC_SORTASC
        MENUITEM "Сортирай низходящо",             XTP_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "Подравняване"
        BEGIN
            MENUITEM "Ляво",                  XTP_IDC_ALIGNLEFT
            MENUITEM "Центрирано",                XTP_IDC_ALIGNCENTER
            MENUITEM "Дясно",                 XTP_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_BTN_NEW          "Нов(а)"
    XTP_IDC_BTN_DELETE       "Изтрий"
    XTP_IDC_BTN_UP           "Премести нагоре"
    XTP_IDC_BTN_DOWN         "Премести надолу"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_NAME             "Име"
    XTP_IDS_SIZE             "Размер"
    XTP_IDS_TYPE             "Тип"
    XTP_IDS_MODIFIED         "Променен"
    XTP_IDS_COLOR_AUTO       "Автоматичен"
    XTP_IDS_COLOR_CUST       "Промяна..."
    XTP_IDS_SELDIR           "Избор на папка:"
    XTP_IDS_DOT              "..."
    XTP_IDS_DEFEXT           "*.*"
    XTP_IDS_DEFFILT          "Всички файлове (*.*)|*.*||"
    XTP_IDS_DEFTITLE         "Име на папка:"
    XTP_IDS_CLICKKEEPOPEN    "Щракнете бутончето за да стои отворен"
    XTP_IDS_SE_0             "Операционната система има недостиг на ресурси."
    XTP_IDS_SE_ERR_FNF       "Указаният файл не може да бъде намерен."
    XTP_IDS_SE_ERR_PNF       "Указаният път не може да бъде намерен."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_SE_ERR_ACCESSDENIED 
                            "Операционната система отказва достъп до файла."
    XTP_IDS_SE_ERR_OOM       "Няма достатъчно памет за завършване на операцията."
    XTP_IDS_SE_ERR_BAD_FORMAT 
                            "Невалиден .exe файл (не е Win32® .exe или има грешка в .exe образа)."
    XTP_IDS_SE_ERR_SHARE     "Смесване на ресурси."
    XTP_IDS_SE_ERR_ASSOCINCOMPLETE 
                            "Невалидно или непълно асоцииране с името на файла."
    XTP_IDS_SE_ERR_DDETIMEOUT 
                            "DDE транзакцията не може да бъде завършена поради изткло време."
    XTP_IDS_SE_ERR_DDEFAIL   "DDE транзакцията е неуспешна."
    XTP_IDS_SE_ERR_DDEBUSY   "DDE транзакцията не може да бъде завършена, защото друга DDE транзакция се обработва."
    XTP_IDS_SE_ERR_NOASSOC   "Няма програма асоциирана с това файлово разширение."
    XTP_IDS_SE_ERR_DLLNOTFOUND 
                            "Указаната динамична библиотека не може да бъде намерена."
    XTP_IDS_SE_ERR_UNKOWN    "Възникна неизвесна грешка с номер %d."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_SORTASC          "Сортирай възходящо\nСортирай възходящо"
    XTP_IDC_SORTDSC          "Сортирай низходящо\nСортирай низходящо"
    XTP_IDC_ALIGNLEFT        "Подравняване на параграфа по лявото поле\nЛяво подравняване"
    XTP_IDC_ALIGNCENTER      "Центриране на параграфа \nЦентриране"
    XTP_IDC_ALIGNRIGHT       "Подравняване на параграфа по дясното поле\nДясно подравняване"
    XTP_IDC_LARGEICON        "Покажи големи икони\nГолеми икони"
    XTP_IDC_SMALLICON        "Покажи малки икони\nМалки икони"
    XTP_IDC_REMOVEITEM       "Премахни от Outlook лентата"
    XTP_IDC_RENAMEITEM       "Преименувай Shortcut"
    XTP_IDC_REMOVEGROUP      "Премахни група"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_RENAMEGROUP      "Преименувай група"
    XTP_IDS_HEX              "Hex"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_STD_COLORS       "Стандартни цветове"
    XTP_IDS_TIPTEXT          "Идея"
    XTP_IDS_DIDYOUKNOW       "Знаете ли че..."
    XTP_IDS_FILE_ABSENT      "Файлът не съществува."
    XTP_IDS_FILE_CORRUPT     "Грешка при четене на файл."
    XTP_IDS_COLOR_CAPTION    "Цевтове"
    XTP_IDS_NEW              "Нов(а)"
    XTP_IDS_CURRENT          "Такущ"
    XTP_IDS_DIRECTORIES      "Папки:"
    XTP_IDS_FILES            "Файлове:"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_TASK_OK           "Да"
    XTP_IDS_TASK_YES          "Да"
    XTP_IDS_TASK_NO           "Не"
    XTP_IDS_TASK_RETRY        "Пак"
    XTP_IDS_TASK_CANCEL       "Отказ"
    XTP_IDS_TASK_CLOSE        "Затвори"
    XTP_IDS_TASK_APPLY        "&Apply"
    XTP_IDS_TASK_HELP         "Help"
    XTP_IDS_TASK_SEE_DETAILS  "Покажи подробности"
    XTP_IDS_TASK_HIDE_DETAILS "Скрий подробности"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
