// Controls resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2012 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Controls/Resource.h"
#include "Controls/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) && !defined(_XTP_NO_STANDARDCONTROLS_RES)
#ifdef _WIN32
LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT
#pragma code_page(1250)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_TIPOFTHEDAY DIALOGEX 0, 0, 279, 127
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tip dÚa"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "KoncovÈ",IDOK,224,108,50,14
    CONTROL         "Pri spustenÌ zobrazovaù tipy",XTP_IDC_CHK_DAYTIP_SHOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,110,140,10
    PUSHBUTTON      "œalöÌ tip",XTP_IDC_BTN_DAYTIP_NEXT,170,108,50,14
    CONTROL         "",XTP_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT WS_VISIBLE,0,0,279,103
END

XTP_IDD_COLORCUSTOM DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Vlastn·"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Farby:",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,3,
                    15,119,86
    CONTROL         "",XTP_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    126,15,20,86
    LTEXT           "OdtieÚ:",XTP_IDC_TXT_HUE,7,108,21,8
    EDITTEXT        XTP_IDC_EDIT_HUE,32,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,56,105,
                    10,14
    LTEXT           "S˝tosù:",XTP_IDC_TXT_SAT,7,125,22,8
    EDITTEXT        XTP_IDC_EDIT_SAT,32,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,56,122,
                    10,14
    LTEXT           "Jas:",XTP_IDC_TXT_LUM,7,140,18,8
    EDITTEXT        XTP_IDC_EDIT_LUM,32,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,56,137,
                    10,14
    LTEXT           "»erven·:",XTP_IDC_TXT_RED,72,108,27,8
    EDITTEXT        XTP_IDC_EDIT_RED,101,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,125,105,
                    11,14
    LTEXT           "Zelen·:",XTP_IDC_TXT_GREEN,72,125,25,8
    EDITTEXT        XTP_IDC_EDIT_GREEN,101,122,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,125,122,
                    11,14
    LTEXT           "Modr·:",XTP_IDC_TXT_BLUE,72,140,23,8
    EDITTEXT        XTP_IDC_EDIT_BLUE,101,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,125,137,
                    11,14
END

XTP_IDD_COLORSTANDARD DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Standard"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Farby:",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XTP_IDD_WINDOWLIST DIALOGEX DISCARDABLE  0, 0, 301, 164
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Usporiadaù"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Vybraù okno:",IDC_STATIC,7,7,147,8
    LISTBOX         XTP_IDC_LBOX_WINDOWS,7,17,216,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "Aktivovaù",XTP_IDC_BTN_ACTIVATE,233,7,62,14
    PUSHBUTTON      "OK",IDOK,233,24,62,14
    PUSHBUTTON      "Uloûiù",XTP_IDC_BTN_SAVE,233,41,62,14
    PUSHBUTTON      "Zavrieù okno",XTP_IDC_BTN_CLOSEWINDOWS,233,58,62,14
    PUSHBUTTON      "Kask·da",XTP_IDC_BTN_CASCADE,233,75,62,14
    PUSHBUTTON      "Pod seba",XTP_IDC_BTN_TILEHORZ,233,92,62,14
    PUSHBUTTON      "Vedæa seba",XTP_IDC_BTN_TILEVERT,233,109,62,14
    PUSHBUTTON      "Minimalizovaù",XTP_IDC_BTN_MINIMIZE,233,126,62,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "MalÈ ikony",                XTP_IDC_SMALLICON
        MENUITEM "VeækÈ ikony",                XTP_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "Sp‰ù",                       ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Vystrihn˙ù",                        ID_EDIT_CUT
        MENUITEM "KopÌrovaù",                       ID_EDIT_COPY
        MENUITEM "Vymazaù ˙dajov˝ h·rok",                      ID_EDIT_PASTE
        MENUITEM "Odstr",                     ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "Vybraù vöetko",                 ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "Zoradiù vzostupne",              XTP_IDC_SORTASC
        MENUITEM "Sp‰ù",             XTP_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "Zarovnanie"
        BEGIN
            MENUITEM "Zarovnaù doæava",                  XTP_IDC_ALIGNLEFT
            MENUITEM "Zarovnaù stredy zvislo",                XTP_IDC_ALIGNCENTER
            MENUITEM "Zarovnaù doprava",                 XTP_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_BTN_NEW          "&Nov˝"
    XTP_IDC_BTN_DELETE       "Odstr"
    XTP_IDC_BTN_UP           "Premiestniù nahor"
    XTP_IDC_BTN_DOWN         "Premiestniù nadol"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_NAME             "Meno"
    XTP_IDS_SIZE             "Veækosù"
    XTP_IDS_TYPE             "Typ"
    XTP_IDS_MODIFIED         "UpravenÈ"
    XTP_IDS_COLOR_AUTO       "Automatick·"
    XTP_IDS_COLOR_CUST       "PrispÙsobiù..."
    XTP_IDS_SELDIR           "V˝ber adres·ra:"
    XTP_IDS_DOT              "..."
    XTP_IDS_DEFEXT           "*.*"
    XTP_IDS_DEFFILT          "Vöetky s˙bory (*.*)|*.*||"
    XTP_IDS_DEFTITLE         "N·zov adres·ra:"
    XTP_IDS_CLICKKEEPOPEN    "Ak chcete ponechaù s˙bor otvoren˝, kliknite na tlaËidlo pripin·Ëika"
    XTP_IDS_SE_0             "The operating system is out of memory or resources."
    XTP_IDS_SE_ERR_FNF       "The specified file was not found."
    XTP_IDS_SE_ERR_PNF       "The specified path was not found."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_SE_ERR_ACCESSDENIED 
                            "The operating system denied access to the specified file."
    XTP_IDS_SE_ERR_OOM       "There was not enough memory to complete the operation."
    XTP_IDS_SE_ERR_BAD_FORMAT 
                            "The .exe file is invalid (non-Win32Æ .exe or error in .exe image)."
    XTP_IDS_SE_ERR_SHARE     "A sharing violation occurred."
    XTP_IDS_SE_ERR_ASSOCINCOMPLETE 
                            "The file name association is incomplete or invalid."
    XTP_IDS_SE_ERR_DDETIMEOUT 
                            "The DDE transaction could not be completed because the request timed out."
    XTP_IDS_SE_ERR_DDEFAIL   "The DDE transaction failed."
    XTP_IDS_SE_ERR_DDEBUSY   "The DDE transaction could not be completed because other DDE transactions were being processed."
    XTP_IDS_SE_ERR_NOASSOC   "There is no application associated with the given file name extension."
    XTP_IDS_SE_ERR_DLLNOTFOUND 
                            "The specified dynamic-link library was not found."
    XTP_IDS_SE_ERR_UNKOWN    "An unknown error number %d occured."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_SORTASC          "Zoradiù vzostupne\nZoradiù vzostupne"
    XTP_IDC_SORTDSC          "Zoradiù zostupne\nZoradiù zostupne"
    XTP_IDC_ALIGNLEFT        "Zarovn· odsek væavo\nZarovnaù væavo"
    XTP_IDC_ALIGNCENTER      "Zarovn· odsek na†stred\nCentrovaù"
    XTP_IDC_ALIGNRIGHT       "Zarovn· odstavec vpravo\nZarovnaù vpravo"
    XTP_IDC_LARGEICON        "MalÈ ikony\nMalÈ ikony"
    XTP_IDC_SMALLICON        "VeækÈ ikony\nVeækÈ ikony"
    XTP_IDC_REMOVEITEM       "Odstr·niù z panela aplik·cie Outlook"
    XTP_IDC_RENAMEITEM       "Premenovaù odkaz"
    XTP_IDC_REMOVEGROUP      "Odstr·niù skupinu"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_RENAMEGROUP      "Premenovaù skupinu"
    XTP_IDS_HEX              "Hex"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_STD_COLORS       "ätandardnÈ farby"
    XTP_IDS_TIPTEXT          "Tip text"
    XTP_IDS_DIDYOUKNOW       "Viete, ûe..."
    XTP_IDS_FILE_ABSENT      "Zadan˝ s˙bor neexistuje."
    XTP_IDS_FILE_CORRUPT     "Chyba pri eÌtanÌ s˙boru."
    XTP_IDS_COLOR_CAPTION    "Farby"
    XTP_IDS_NEW              "&Nov˝"
    XTP_IDS_CURRENT          "Aktu·lne"
    XTP_IDS_DIRECTORIES      "Adres·re:"
    XTP_IDS_FILES            "S˙bory:"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_TASK_OK           "OK"
    XTP_IDS_TASK_YES          "¡no"
    XTP_IDS_TASK_NO           "Nie"
    XTP_IDS_TASK_RETRY        "Znova"
    XTP_IDS_TASK_CANCEL       "Zruöiù"
    XTP_IDS_TASK_CLOSE        "KoncovÈ"
    XTP_IDS_TASK_APPLY        "&Apply"
    XTP_IDS_TASK_HELP         "Help"
    XTP_IDS_TASK_SEE_DETAILS  "Zobraziù podrobnosti"
    XTP_IDS_TASK_HIDE_DETAILS "Skryù podrobnosti"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
